*{
    margin: 0;
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
ol{
    width: 60%;
    height: 300px;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    align-items: center;
}
li{
    width: 25%;
    height: 150px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
}
li>a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
#topbar{
    display: flex;
    height: 70px;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
#logo{
    margin-left: 10%;
}
#logo>a{
    text-decoration: none;
}
#top_right{
    display: flex;
    margin-right: 8%;
}
#home{
    margin-right: 15px;
}
#home>a{
    text-decoration: none;
}
#login>a{
    text-decoration: none;
}