*{
    margin: 0;
}
.dropdown{
    position : relative;
    display : inline-block;
} 
.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
} 
.dropdown-content a{
    display : block;
} 
.dropdown:hover .dropdown-content {
    display: block;
}
#topbar{
    background-color: black;
    display: flex;
}
.top{
    text-decoration: none;
    color: white;
}